

* {
  box-sizing: border-box;
}




}
.nav{

width:100%;
 
height: 100px;
margin top:90px;
position: relative;right: -557px;
}

   




.banner{
 

font-size: 30px;
line-height: 45px;
font-weight: 700px;
text-transform: lowercase;
font-family: 'Acme', sans-serif;
}

.nav ul{


 
list-style-type: none;
margin: 0;
padding: 0;

}
.nav ul li{

display: inline-block;
position: relative;left:150px;
top: -80px;


}

.nav ul li a{

  padding: 12px 24px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: block;
}


ul li a:hover {
  background-color: ;
  color: #e84118;


}

.dropbtn {
 
  color:#000;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  position: relative;left:500px;
  top: -80px;
 font-family: 'Merriweather', serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: 
  min-width: 30px;
  box-shadow:  rgba(8,0,0,0.9);
  z-index: 1;

}

.dropdown-content a {
   font-size: 15px;
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;

}
.dropdown-content a:hover {
  color:#fff;}

.dropdown:hover .dropdown-content {
  display: block;}

.dropdown:hover .dropbtn {
  color:#e84118;
}



.search-box{

position: absolute;right:200px;
top:10px;
left: :100%
transform:translate(-50%,-50%);
background:#2f3640;
height:40px;
border-radius:40px;
padding:0px;


}

.search-box:hover >.search-txt{

width: 240px;
padding: 0 6px;


}

.search-btn{
color: #e84118;
float: right;
width: 40px;
height: 40px;
border-radius: 50%;
background: #2f3640;
display: flex;
justify-content: center;
align-items: center;

}
.search-txt{

border: none;
background:none;
outline: none;
float: left;
padding:0;
color: white;
font-size: 16px;
transition:0.4s;
line-height: 40px;
width: 0px;
}



#myVideo {
  position: fixed;
  right: 0;
  top:10%;
  min-width: 100%; 
  min-height: 100%;
}
.welcome{

margin: 10% auto 0;
position: fixed;right: 300px;
color: #fff;
font-size: 30px;
text-align: center;
bottom: 200px;
}

h1{

font-weight: normal;
font-size: 100px;
font-family: 'Shadows Into Light', cursive;

}